<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.Squirrel.Example\packages.config" />
  <repository path="..\src\Orc.Squirrel.Tests\Orc.Squirrel.Tests.NET40\packages.config" />
  <repository path="..\src\Orc.Squirrel.Tests\Orc.Squirrel.Tests.NET45\packages.config" />
  <repository path="..\src\Orc.Squirrel.Xaml\Orc.Squirrel.Xaml.NET40\packages.config" />
  <repository path="..\src\Orc.Squirrel.Xaml\Orc.Squirrel.Xaml.NET45\packages.config" />
  <repository path="..\src\Orc.Squirrel\Orc.Squirrel.NET40\packages.config" />
  <repository path="..\src\Orc.Squirrel\Orc.Squirrel.NET45\packages.config" />
</repositories>